body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

section {
  margin: 20px;
}

h2 {
  color: #333;
}

.project {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.projects,
.courses {
  display: grid;
  gap: 20px;
  grid-template-columns: 400px 400px;
}
.projects div,
.courses div {
  border: 1px solid black;
  padding: 10px;
}
